* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body, html {
    height: 100%;
}

/*navbar css*/
.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #000;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
    overflow: hidden;
}

#navbar_logo img {
    height: 50%;
    width: 50%;
    margin-top: 50px;
}

.navbar_menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu_item {
    height: 40px;
}

.menu_link {
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.menu_link:hover {
    font-weight: bold;
}

.button {
    padding: 10px 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.cart_count {
    background: #d68d04;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 35px;
    padding: 5px 10px;
}
/* homepage css */
/*hero css*/
.hero {
    background-color: #141414;
}

.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/pexels-mikhail-nilov-9242270.jpg');
    background-position: center;
}

.hero_text {
    color: #fff;
}

.hero_text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero_text p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/*computers section css*/
.computers {
    padding: 50px 50px;
    display: flex;
}

.product_cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 50px;
}

.card_thumb {
    height: 300px;
    width: auto;
    margin-right: 40px;
    margin-top: 20px;
}

.card_link {
    text-decoration: none;
    color: #000;
}

.cart_button {
    border: none;
    outline: 0;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.mailbox {
    background: #d68d04;
    color: #fff;
    border-radius: 5px;
    height: 400px;
    width: 460px;
    text-align: center;
    padding: 120px;
}

/*footer css*/
.sell_banner {
    background: #000;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}
/*home page css end*/

/*product page css*/
.product_hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/360_F_582099847_q3PS2QAcBT6QGkHstUJjyxwLODP8Q5hl.jpg');
    background-size: cover;
    background-position: center;
}

.products {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
}

.services_hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/services1.jpg');
    background-size: cover;
    background-position: center;
}

.map_container {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    border: #000;
}

/* Service Section CSS */
.service_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.service_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
}

.service_card .card_thumb {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
