<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Map.css">

    <title>Orlando Computers - Map</title>
</head>

<body>
<header>
    <!--navigation bar-->
    <nav class = "navbar">
        <div class = "navbar_container">
            <a href = "Viewer" id = "navbar_logo"><img src = "/images/logo 1.png" alt=""></a>
            <ul class = "navbar_menu">
                <li class = "menu_item">
                    <a href = "Product" class = "menu_link">Products</a>
                </li>
                <li class = "menu_item">
                    <a href = "Services" class = "menu_link">Services</a>
                </li>
                <li class = "menu_item">
                    <a href = "ContactUs" class = "menu_link">Contact Us</a>
                </li>
                <li class = "menu_item">
                    <a href = "Map" class = "menu_link"><strong>Map</strong></a>
                </li>
                <li class = "button">
                    <a href = "Cart" class = "button">Cart</a>
                </li>
                <p class ="cart_count">0</p>
            </ul>
        </div>
    </nav>
</header>
<main>
    <!--hero banner-->
    <section class = "map_hero">
        <div class = "map_hero_container">
            <div class = "hero_text">
                <h1>Map</h1>
                <p>Location of our facility</p>
            </div>
        </div>
    </section>
    <!--map section-->
    <section class = "map_embed">
        <div class = "map_container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112222.07519604336!2d-81.42519401941775!3d28.481358054322104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e773d8fecdbc77%3A0xac3b2063ca5bf9e!2sOrlando%2C%20FL!5e0!3m2!1sen!2sus!4v1739289750193!5m2!1sen!2sus" width="1800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main>
</body>
</html>