<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Product.css">
    <title>Orlando Computers - Products</title>
</head>

<body>
<header>
    <!--navigation bar-->
    <nav class = "navbar">
        <div class = "navbar_container">
            <a href = "Viewer" id = "navbar_logo"><img src = "/images/logo 1.png" alt=""></a>
            <ul class = "navbar_menu">
                <li class = "menu_item">
                    <a href = "Product" class = "menu_link"><strong>Products</strong></a>
                </li>
                <li class = "menu_item">
                    <a href = "Services" class = "menu_link">Services</a>
                </li>
                <li class = "menu_item">
                    <a href = "ContactUs" class = "menu_link">Contact Us</a>
                </li>
                <li class = "menu_item">
                    <a href = "Map" class = "menu_link">Map</a>
                </li>
                <button class = "cart_button">
                    <a href = "Cart" class = "button">Cart</a>
                </button>
            </ul>
        </div>
    </nav>
</header>
<main>
    <!--hero section-->
    <section class = "product_hero">
        <div class = "product_hero_container">
            <div class = "hero_text">
                <h1>Products</h1>
                <p>Computer hardware</p>
            </div>
        </div>
    </section>
    <!--products section-->
    <section class = "products">
        <div class = "products_container">
            <ul class = "product_cards">
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "../images/51ld6RR8IrL._AC_SL1500_.jpg" alt = "AMD Ryzen 5 5600X" class = "card_thumb">
                        <div class = "card_text">
                            <h1>AMD Ryzen 5 5600X</h1>
                            <p class = "price">$134.99</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/61IIbwz-+ML._AC_SL1500_.jpg" alt = "AMD Ryzen 7 5800X" class = "card_thumb">
                        <div class = "card_text">
                            <h1>AMD Ryzen 7 5800X</h1>
                            <p class = "price">$174.99</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/refurb-imac-24-touch-id-blue-202402.jpg" alt = "Apple iMac 24" class = "card_thumb">
                        <div class = "card_text">
                            <h1>Apple iMac 24</h1>
                            <p class = "price">$1,299.00</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/desktop-optiplex-7020-mt-black-gallery-1.avif" alt = "Dell Optiplex 7020 MT" class = "card_thumb">
                        <div class = "card_text">
                            <h1>Dell Optiplex 7020</h1>
                            <p class = "price">$849.00</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/71PSxIuhYJL._AC_SL1500_.jpg" alt = "Gigabyte Radeon RX 7600" class = "card_thumb">
                        <div class = "card_text">
                            <h1>GIGABYTE Radeon RX 7600XT</h1>
                            <p class = "price">$317.99</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/pavilion.avif" alt = "HP Pavilion" class = "card_thumb">
                        <div class = "card_text">
                            <h1>HP Pavilion TP01-3055xt</h1>
                            <p class = "price">$799.00</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/51Xik7NRvJL._AC_SL1500_.jpg" alt = "Intel Core i3 12100F" class = "card_thumb">
                        <div class = "card_text">
                            <h1>Intel Core i3 12100F</h1>
                            <p class = "price">$113.99</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/61LzzuUNhKL._AC_SL1500_.jpg" alt = "Intel Core i5 13600KF" class = "card_thumb">
                        <div class = "card_text">
                            <h1>Intel Core i5 13600KF</h1>
                            <p class = "price">$209.99</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/ov9xnbyz045tnpwhltr3878eqt1qu9465863.avif" alt = "Lenovo Thinkpad L16" class = "card_thumb">
                        <div class = "card_text">
                            <h1>Lenovo ThinkPad L16</h1>
                            <p class = "price">$649.00</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/71X8s4RCBVL._AC_SX679_.jpg" alt = "MSI Aegis Z2" class = "card_thumb">
                        <div class = "card_text">
                            <h1>MSI Aegis Z2</h1>
                            <p class = "price">$1,249.00</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/71tduSp8ooL._AC_SL1500_.jpg" alt = "MSI Gaming GeForce RTX 3060" class = "card_thumb">
                        <div class = "card_text">
                            <h1>MSI Gaming GeForce RTX 3060</h1>
                            <p class = "price">$349.99</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
                <li class = "product_card">
                    <a href = "/" class = "card_link">
                        <img src = "/images/shopping.jpg" alt = "Samsung Galaxy Book4 Edge" class = "card_thumb">
                        <div class = "card_text">
                            <h1>Samsung Galaxy Book4 Edge</h1>
                            <p class = "price">$1,199.00</p>
                        </div>
                    </a>
                    <button class = "cart_button">
                        <p>Add to cart</p>
                    </button>
                </li>
        </div>
    </section>
</main>
</body>
</html>